
body {
  background: #000;
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
	padding:0;
	margin:0;
	overflow:hidden;
}

p {
  color: #eee;
}

a {
    color: #ddd;
}

a:link {
    color: #ddd;
} 

a:visited {
    color: #ddd;
}

a:hover {
    color: #fff;
}

#panel {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1px;
    padding: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    background-color: #222;
}

#panelInside {
}

#container {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #aaa;
  background-color: #333;
}

#text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#controlsTextArea
{
    margin: 0 0 0 0;
    font-size: 10px;
    font-weight: 200;
    color: #999;
    line-height: 14px;
}